= simple_form_for([:admin, @buckle]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: 'Black'
    = f.association :style
    = f.input :hex_color, placeholder: '#000000'
    %h3 Main Buckle Image Upload
    = f.input :image, hint: 'Large buckle image located on the homepage'
    %hr
    .row-fluid
      .span12
        %h3 Price
        = f.input :price

  .form-actions
    = f.button :submit, class: 'btn btn-inverse'
