= simple_form_for([:admin, @belt]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, placeholder: 'black'
    .row-fluid
      .span12
        %h2 Pick one
    .row-fluid
      .span6
        = f.input :hex_color, placeholder: '#000000'
      .span6
        = f.input :belt_pattern_image, label: 'Upload Pattern'
    .row-fluid
      .span12
        %h3 Main Image Upload
        = f.input :image

  .form-actions
    = f.button :submit, class: 'btn btn-inverse'
