%p
  %strong Order ID:
  = @order.id
%p
  %strong Name:
  = @order.name
%p
  %strong Address:
  %br
  = @order.address_1
  - if @order.address_2.present?
    %br
    = @order.address_2
  %br
  = @order.city
  %br
  = @order.state
  %br
  = @order.zip_code
%p
  %strong Email:
  = mail_to @order.email
%p
  %strong Total:
  = @order.complete_order_price(@order.price_cents, @order.price_currency)
%p
  %strong Cause:
  = @order.cause
