- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  = javascript_include_tag 'https://js.stripe.com/v1/', 'order'

= simple_form_for(@order, :html => {:class => 'form-horizontal', :id => 'create_order' }) do |f|
  = f.hidden_field :coupon_code  
  = f.hidden_field :stripe_card_token
  = f.hidden_field :name
  = f.hidden_field :address_1
  = f.hidden_field :address_2
  = f.hidden_field :state
  = f.hidden_field :city
  = f.hidden_field :zip_code
  = f.hidden_field :email
  = f.hidden_field :cause
  .row-fluid
    .container
      .span12
        %h4.check-head SHOPPING CART
      / span12
    / container
  / row-fluid
  .clearfix
  / clearfix
  .row-fluid
    .container
      .span12
        = f.error_notification
      .span7
        %h3.tab-title ITEMS
      / span7
      .span3
      / span1
      .span1.pull-right
        %h3.tab-title PRICE
  .clearfix
  / clearfix
  .row-fluid
    .container
      = render(@cart.line_items)
  .row-fluid
    .container
      .row-fluid
        .span6
          .discount
            
          / discount
        / span6
        .offset3.span3
          .total
            %p#discount
            %p 
              SUB TOTAL: $
              = @cart.total_price         
            %p SHIPPING: FREE           
            %p{id: :coupon_discount}
              COUPON: 
              = @order.coupon_cents==0 ? "NONE" : "$ #{@order.discount}"
            %span{id: :total_price}
              TOTAL: $
              = @cart.final_price(@order.coupon_code)
          / total
        / span3
        .seperator{style: "background-color:#e2e3e3; margin-bottom:20px; margin-top:40px;"}

  .row-fluid
    .container
      .span12
        %p.one-last Shipping :
  .row-fluid
    .container
      .span12{style: 'margin-top: 40px;'}
        .form-inputs
          .span6
            %table.table
              %tr
                %th{width: 100} Name
                %td= @order.name              
              %tr
                %th Address 1
                %td= @order.address_1
              %tr
                %th Address 2
                %td= @order.address_2
              %tr
                %th State
                %td= @order.state
            
          .span6
            %table.table
              %tr
                %th{width: 100} City
                %td= @order.city
              %tr
                %th Zip Code
                %td= @order.zip_code
              %tr
                %th Email
                %td= @order.email
            

      .seperator{style: "background-color:#e2e3e3; margin-bottom:50px; margin-top:50px;"}  

    .row-fluid
      .container
        .span12
          %p.one-last Clause :

        .row-fluid
          .container
            .span3
            = @order.cause.blank? ? "(none)" : @order.cause
            -#  %a.cas{href: "javascript:void(0);"}
            -#/ span3
            -#.span3
            -#  %a.cas2{href: "javascript:void(0);"}
            -#/ span3
            -#.span3
            -#  %a.cas3{href: "javascript:void(0);"}
            -#/ span3
            -#.span3
            -#  %a.cas4{href: "javascript:void(0);"}
            -#= f.hidden_field :cause

          .seperator{style: "background-color:#e2e3e3; margin-bottom:20px; margin-top:50px;"}

        .row-fluid
          .span12
            %button.btn.btn3.chan3
              %i
                = image_tag('cart-icon.png')
              CONFIRM ORDER



