.container
  .row-fluid
    .span12
      %h1 Check Out
      -#TODO: Show cart?
      -#= render @cart
      = simple_form_for(@order, :html => {:class => 'form-horizontal' }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :name
          = f.input :address_1
          = f.input :address_2
          = f.input :city
          = f.input :state
          = f.input :zip_code
          = f.input :email

        .form-actions
          = f.button :submit
