- content_for :head do
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
  = javascript_include_tag 'https://js.stripe.com/v1/', 'order'

.container
  .row-fluid
    .span12
      %h1 Check Out
      -#TODO: Show cart?
      -#= render @cart
      = simple_form_for(@order, :html => {:class => 'form-horizontal' }) do |f|
        = f.error_notification

        .form-inputs
          = f.input :name
          = f.input :address_1
          = f.input :address_2
          = f.input :city
          = f.input :state
          = f.input :zip_code
          = f.input :email
          %hr
          #stripe_error
            %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
          .field
            = label_tag :card_number, "Credit Card Number"
            = text_field_tag :card_number, nil, name: nil
          .field
            = label_tag :card_code, "Card Security Code (CVV)"
            = text_field_tag :card_code, nil, name: nil
          .field
            = label_tag :card_month, "Card Expiration"
            = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
            = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}
          = f.hidden_field :stripe_card_token

        .form-actions
          = f.button :submit
