%h1 Thank you for your order:

%h2 Shipping info:
%p= @order.name
%p= @order.address_1
%p= @order.address_2
%p= @order.city
%p= @order.state
%p= @order.zip_code

%h3 Order:
= render(@cart.line_items)

%h4 Coupon
- if @order.coupon_code.blank?
  %p (not used)
- else
  %p= "$ #{@order.discount} coupon code - #{@order.coupon_code}"

%h4 Total
%p= @order.complete_order_price(@order.price_cents, @order.price_currency)
