.cart.row-fluid
  .span4
    =image_tag line_item.belt.image.url, :class => "cart-belt-image"
    =image_tag line_item.buckle.image.url, :class => "cart-belt-image"
  .span7
    %p{style: 'padding: 30px 0 0; color: #999999;'}
      = line_item.quantity
      &times;
      = line_item.buckle.style.name
      = line_item.buckle.name
      = Buckle
      = ' + '
      = line_item.belt.name
      = Belt
  / quantity
  .span1
    %p.rate
      =line_item.total_price_dollars
