-#TODO: Dry this up into a helper. -Lance

- if line_item == @current_item
  %tr{id: 'current_item'}
    %td= line_item.quantity
    %td
      &times;
      = line_item.buckle.style.name
      = line_item.buckle.name
      = Buckle
      = ' + '
      = line_item.belt.name
      = Belt
    %td=# line_item.total_price
- else
  %tr
    %td= line_item.quantity
    %td
      &times;
      = line_item.buckle.style.name
      = line_item.buckle.name
      = Buckle
      = ' + '
      = line_item.belt.name
      = Belt
    %td=# line_item.total_price
