-#TODO: Dry this up into a helper. -Lance

- if line_item == @current_item
  #current_item
    .product
      .cart-belt-div
        =image_tag line_item.belt.image.url, :class => "cart-belt-image"
        =image_tag line_item.buckle.image.url, :class => "cart-belt-image"
      .quantity
        %p
          = line_item.quantity
          &times;
          = line_item.buckle.style.name
          = line_item.buckle.name
          = Buckle
          = ' + '
          = line_item.belt.name
          = Belt
      / quantity
      %p.rate
        =line_item.total_price_dollars
      .clearfix
      / clearfix
    / product
- else
  .product
    .cart-belt-div
      =image_tag line_item.belt.image.url, :class => "cart-belt-image"
      =image_tag line_item.buckle.image.url, :class => "cart-belt-image"
    .quantity
      %p
        = line_item.quantity
        &times;
        = line_item.buckle.style.name
        = line_item.buckle.name
        = Buckle
        = ' + '
        = line_item.belt.name
        = Belt
    / quantity
    %p.rate
      =line_item.total_price_dollars
    .clearfix
    / clearfix
  / product
